CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_TUYA_T5AI_BOARD_LCD_35565=y
CONFIG_TP=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_LVGL_VERSION_8=y
CONFIG_LVGL_V8_COLOR_DEPTH_16=y
CONFIG_ENABLE_TAL_WIFI=y
CONFIG_ENABLE_LIBHTTP=y
CONFIG_ENABLE_LIBCJSON=y
CONFIG_ENABLE_TAL_LOG=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_WIFI_SSID=""
CONFIG_WIFI_PASSWORD=""
CONFIG_BRIDGE_HOST="192.168.1.109"
CONFIG_BRIDGE_PORT=5678
CONFIG_BRIDGE_PATH="/quota"
CONFIG_MQTT_HOST=""
CONFIG_MQTT_PORT=1883
